<template>
    <div>
        <div class="row">
          <div class="col-md-10"><h1>Lista de Produtos</h1></div>
          <div class="col-md-2">
            <router-link :to="{ name: 'CreateItem' }" class="btn btn-primary">Adicionar</router-link>
          </div>
        </div><br />
        <table class="table table-hover">
            <thead>
            <tr>
                <td>ID</td>
                <td>Produto</td>
                <td>Preço</td>
                <td>Ações</td>
            </tr>
            </thead>

            <tbody>
                <tr v-for="item in items">
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.price }}</td>
                    <td>
                        <router-link :to="{name: 'EditItem', params: { id: item.id }}" class="btn btn-primary">Editar</router-link>
                        <button class="btn btn-danger" v-on:click="deleteItem(item.id)">Remover</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>

    export default {
        data(){
            return{
                items: [],
            }
        },

        created: function()
        {
            this.fetchItems();
        },

        methods: {
            fetchItems()
            {
              let uri = 'http://127.0.0.1:8000/items';
              this.axios.get(uri).then((response) => {
                  this.items = response.data;
              });
            },
            deleteItem(id)
            {
              let uri = `http://127.0.0.1:8000/items/${id}`;
              this.items.splice(id, 1);
              this.axios.delete(uri);
              this.fetchItems();
            }
        }
    }
</script>